# Python
__pycache__/
*.py[cod]
.pytest_cache/
.env
venv/
qodana.*

# Java
target/
*.jar
*.class
*.war

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Local development
dump.rdb
data/